<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"> </title>
</head>
<body>


<a style="color: rebeccapurple;
text-decoration: none; font-size: 30px; background-color: springgreen"
   th:href="@{/getmapping/lobo/el lobo americano}">Link a lobo</a>
<a style="color: rebeccapurple;
text-decoration: none; font-size: 30px; background-color: springgreen"
        th:href="@{/getmapping/leon/el leon es un crack}">Link a leon</a>
</body>
</html>