<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 class="color-rojo" th:text="${titulo}"></h1>
<h2 class="color-azul">Decorando con estilos css recursos estaticos</h2>

<ul><li>
    <a th:href="@{/variables/string/} + 'Hola andres'">/variables/string/Hola andres</a></li>

    <li>
    <a th:href="@{/variables/string/} + 'que bola asere'">/variables/string/que bola asere</a></li>

    <li>
        <a th:href="@{/variables/string/} + ${titulo} + '/825'">/variables/string/cojone pingochi/825</a></li>
</ul>

<img
     th:src="@{/images/leon.jpg}"/>
</body>
</html>